form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #2e325c;
  border-radius: 8px;
  color: #f9f9f9;

  h1 {
    margin-bottom: 24px;
  }

  button {
    margin-top: 16px;
  }

  a {
    color: #5d63e6;
  }

  span {
    margin-top: 12px;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  label {
    padding: 4px 0 6px;
  }

  input {
    width: 240px;
    border-radius: 4px;
    border: 1px solid #8a8a8a;
    padding: 8px 12px;
  }
}
