<form>
  <h1>Register</h1>

  <div class="form-field">
    <label>Email</label>
    <input name="email" id="email" />
  </div>
  <div class="form-field">
    <label>Username</label>
    <input name="username" id="username" />
  </div>
  <div class="form-field">
    <label>Password</label>
    <input name="password" id="password" />
  </div>
  <div class="form-field">
    <label>Confirm Password</label>
    <input name="confirmPassword" id="confirmPassword" />
  </div>

  <button class="btn-primary">Register</button>
</form>
